<h3>Here's the list of restaurants we have on file: </h3>
<ul>
  <% @restaurants.each do |restaurant|  %>
    <li><%= link_to restaurant.name , restaurant_path(restaurant)  %> - <%= restaurant.category %> - <%= restaurant.address %></li>
  <% end %>
</ul>